<section id="about" class="about">
    <div class="about-content">
        <h2 class="section-titles">About Me</h2>
        <div class="about-text">
            <p>Hello, I'm Krishna, a passionate and driven 4th-year student pursuing a Bachelor's degree in Computer Engineering at Indira College of Engineering and Management. With a deep fascination for technology and a keen interest in problem-solving,
                I have dedicated my academic journey to honing my skills in programming, software development, and computer systems.</p>

            <p>Throughout my college years, I have immersed myself in various projects and coursework, allowing me to gain hands-on experience in languages such as C++, Java, Python, and web technologies like HTML, CSS, and JavaScript. I have a strong
                foundation in data structures, algorithms, and software engineering principles, which has enabled me to develop efficient and scalable solutions.</p>


            <p>Beyond academics, I have actively participated in coding competitions and hackathons, continuously challenging myself and expanding my knowledge. These experiences have honed my problem-solving abilities, fostered teamwork skills,
                and exposed me to real-world scenarios within the tech industry.</p>

        </div>
        
    </div>
</section>