<section id="contact" class="contact">
    <h2 class="section-titles">Get In Touch</h2>
    <div class="contact-container">
        <div class="contact-info">
            <h3>Contact Info</h3>
            <p><i class="fas fa-envelope"></i> sevdakrishna@gmail.com</p>
            <p><i class="fas fa-phone"></i> +91 9373022171</p>
            <p><i class="fas fa-map-marker-alt"></i> Pune, India</p>
            <div class="social-links">
                <a href="https://www.instagram.com/sevdakrishna" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/krishna-sevda" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/Sevdakrishna" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <form id="contact-form" class="contact-form" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="d760d199-4ec0-41b4-b992-266deab24836">
            <h2 class="form-heading">Send Your Details To Let Me Know Your Requirements</h2>
            <hr><br><br>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email ID" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Enter Message" required></textarea>
            </div>
            <button type="submit" class="btn">Send Message</button>
        </form>
    </div>
</section>