<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 Krishna's Portfolio</p>
        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=100076563281094" target="_self"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/Sevdakrishna" target="_self"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/sevdakrishna" target="_self"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/krishna-sevda" target="_self"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</footer>
