<section id="skills" class="skills">
    <div class="skills-header">
        <h2 class="section-titles">My Skills</h2>
    </div>
    <div class="skills-container">
        
        <div class="skill-card">
            <i class="fab fa-html5"></i>
            <h3>HTML</h3>
            <p>Level: Expert</p>
        </div>
        <div class="skill-card">
            <i class="fab fa-css3-alt"></i>
            <h3>CSS</h3>
            <p>Level: Advanced</p>
        </div>
        <div class="skill-card">
            <i class="fab fa-js"></i>
            <h3>JavaScript</h3>
            <p>Level: Intermediate</p>
        </div>
        <div class="skill-card">
            <i class="fab fa-cuttlefish"></i>
            <h3>C++</h3>
            <p>Level: Intermediate</p>
        </div>
        <div class="skill-card">
            <i class="fab fa-java"></i>
            <h3>Java</h3>
            <p>Level: Intermediate</p>
        </div>
        <div class="skill-card">
            <i class="fab fa-python"></i>
            <h3>Python</h3>
            <p>Level: Intermediate</p>
        </div>
        
    </div>
</section>
